<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.impulseapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImpulseAppMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".PageDefaults">

        </activity>


        <activity android:name=".AddPurchase">

        </activity>


        <activity android:name=".PlanPurchase">

        </activity>

        <activity android:name=".ViewHistory">

        </activity>

        <activity android:name=".ViewProfile">

        </activity>
    </application>

</manifest>